body { font-family: 'Cardo', georgia, times, serif; }
body, html { background: #f4f4f4; }
#container {
  font-size: 123.1%;
  line-height: 1.5em;
  margin: 4em auto 8em;
  width: 40em;
}

pre, code, tt { 
  font-size: 0.95em;
  line-height: 1.4em;
}

pre {
  background: #fff;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
  padding: 14px 14px 17px 14px;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

p code { font-size: 0.9em; padding: 2px 3px; }

table.flush { margin-left: -5px; margin-right: -10px; }
