<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ozan Onay" />
   <meta name="google-site-verification" content="CWr9iakVT6jOOpgOLpw3W8MOJdTsRpC2MwWcpT-mf54" />
   
   <link rel="icon" type="image/png" href="/images/favicon.png" />

   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" />
   <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Cardo' />
   <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
   <link rel="stylesheet" type="text/css" href="/css/typography.css" />
   <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen, projection" />

</head>
<body>

<div id="container">
  
  {{ content }}
  
</div>

</body>
</html>
