<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Ozan Onay" />
   
   <link rel="icon" type="image/png" href="/images/favicon.png" />

   <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css" />
   <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
   <link rel="stylesheet" type="text/css" href="/css/typography.css" />
   <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen, projection" />
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

</head>
<body>

<div id="container">
  
  {{ content }}
    
  <div class="meta comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'ozanonayblog';
    var disqus_identifier = '{{ page.filename }}';
    var disqus_url = 'http://ozanonay.com/{{ page.filename }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    <script type="text/javascript" charset="utf-8">
    $(function () {
      $('#comment-count').bind('click', function () { $('div.comments').show(); });
    });
    </script>
  </div>
  
</div>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-3282460-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
</script>

</body>
</html>
